<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fafafa" />
  </head>

  <body>
    <!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
    <!-- <style>
      table.GeneratedTable {
        width: 100%;
        background-color: #ffffff;
        border-collapse: collapse;
        border-width: 1px;
        border-color: #ffcc00;
        border-style: solid;
        color: #000000;
      }

      table.GeneratedTable td,
      table.GeneratedTable th {
        border-width: 1px;
        border-color: #ffcc00;
        border-style: solid;
        padding: 3px;
      }

      table.GeneratedTable thead {
        background-color: #ffcc00;
      } -->
    </style>

    <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
    <table cellspacing="0" cellpadding="0" class="GeneratedTable" style="width: 600px; margin: 0 auto; border: none; font-family: Arial, Helvetica, sans-serif; background-color: #f3f3f3; padding: 15px" border="0">
      <!-- <thead>
      <tr>
        <th>Header</th>
      </tr>
    </thead> -->
      <tbody>
        <tr>
          <td style="font-weight: bold; font-size: 26px; padding-bottom: 15px">Resort.in</td>
        </tr>
        <tr>
          <td><img src="cid:banner" style="width: 100%" alt="myresort-banner" /></td>
        </tr>
        <tr>
          <td style="text-align: center; font-size: 31px; padding-top: 15px; padding-bottom: 15px; color: #797879; background: #ffffff; font-weight: bold">Hi, <%=first_name%></td>
        </tr>
        <tr>
          <td style="text-align: center; font-size: 16px; padding: 0 50px 30px; line-height: 27px; color: #6d6969; background: #ffffff">You are almost ready to start enjoying MyResorts.in. Simply click on the big yellow button below to verify your email address.</td>
        </tr>
        <tr>
          <td align="center">
            
            <table width="225" style="Margin:0;margin-top: 25px; border-spacing:0;max-width:225px;">
              <tr>
                  <td width="100%" style="padding:15px 5px 17px 5px;border-radius:4px;background-color:#ffd400;font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:bold;color:#ffffff;text-align:center;vertical-align:top;">
                    <a href="http<%=http_type%>://<%=host_name%>/<%=api_version%>/verify?id=<%=user_id%>" style="color: #fff; text-decoration: none; display:block;text-transform: uppercase">Verify email address</a>
                  </td>
              </tr>
          </table>







            
          
          </td>
        </tr>
        <tr>
          <td style="padding: 25px 0 15px; text-align: center; font-size: 14px">Stay in touch</td>
        </tr>
        <tr>
          <td style="text-align: center">
            <a href="#"><img style="width: 35px" src="cid:facebook" alt="facebook-logo" /></a>
            <a href="#"><img style="width: 35px; margin: 0 15px" src="cid:twitter" alt="twitter-logo" /></a>
            <a href="#"><img style="width: 35px" src="cid:youtube" alt="youtube-logo" /></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; font-size: 10px; padding: 15px 0">© Resort.in 2022</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
